.gift {
  width: 100vw;
  height: 100dvh;
  position: relative;
  background-color: var(--pink-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  font-size: var(--fontsize);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 40px !important;
  flex: 0 0 100vw;
  min-width: 100vw;
}

.love {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/src/assets/love.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
}

.board__gift {
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
  z-index: 0;
  flex-shrink: 0;
  width: 326px;
  height: 269px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: var(--pink-300);
  border: 4px dashed var(--grey-700);
  box-sizing: border-box;
  z-index: 0;
  padding: 25px;
}

.text__gift {
  min-width: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 25px;
  z-index: 1;
}

.gift .fa-arrow-left {
  width: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
  color: var(--grey-700);
  z-index: 2;
  position: relative;
}

.gift .fa-arrow-left:hover {
  color: var(--aqua-300);
  transition: 0.3s;
}

.gift .arrow__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.gift .content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
  z-index: 0;
}

.gift .content__container .a {
  font-size: 40px !important;
  color: var(--grey-700);
  display: inline-block;
  z-index: 3;
  color: var(--aqua-500);
}
