.smile {
  width: 100%;
  height: 100dvh;
  position: relative;
  background-color: var(--pink-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--fontsize);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
}

.board__smile {
  width: 326px;
  height: 269px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: var(--pink-300);
  border: 6px dashed var(--grey-700);
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

@media (min-width: 768px) {
  .board__smile {
    height: 358px;
  }
}

@media (min-width: 1024px) {
  .board__smile {
    height: 504px;
  }
}

.text__smile {
  min-width: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 25px;
  z-index: 1;
}

.smile .fa-arrow-left {
  width: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
  color: var(--grey-700);
  z-index: 2;
  position: relative;
}

.smile .fa-arrow-left:hover {
  color: var(--aqua-300);
  transition: 0.3s;
}

.girasol {
  width: 100%;
  max-width: 700px;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-17%, -8%);
  background-image: url(/src/assets/forSmileImg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
  flex-shrink: 0;
}

.smile .arrow__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
