.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.buttons-container {
  width: 390px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.button {
  position: relative;
  isolation: isolate;
  gap: 18.4px;
  cursor: pointer;
  z-index: 0;
}
.button-shapes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 78px;
  width: 78px;
  position: relative;
  border-radius: 50%;
  background-color: var(--pink-300);
  border: 6px dashed var(--grey-700);
  box-sizing: border-box;
  z-index: 0;
}

.icon {
  font-size: 32px;
  max-width: 100%;
  z-index: 1;
  background-color: transparent;
}

.button :hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in;
  background-color: var(--aqua-200);
  transition: background-color 0.5s ease-in;
}
