.buttonheart,
.buttons {
  display: flex;
  align-items: flex-start;
}
.buttons {
  width: 390px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  z-index: 3;
}
.buttonheart {
  position: relative;
  isolation: isolate;
  gap: 18.4px;
  cursor: pointer;
  z-index: 0;
}
.button-shapes,
.heart2 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.button-shapes {
  height: 78px;
  width: 78px;
  position: relative;
  border-radius: 50%;
  background-color: #dd3ca3;
  border: 4px solid #000;
  box-sizing: border-box;
  z-index: 0;
}
.heart2 {
  height: 60px;
  width: calc(100% - 18px);
  position: absolute;
  margin: 0 !important;
  top: 9px;
  right: 9px;
  left: 9px;
  z-index: 1;
}
.base-background,
.svg-path-icon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7.5px;
  left: 3.9px;
  width: 52.3px;
  height: 45.6px;
}
.base-background {
  border: 2px solid #000;
  background-color: #050001;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.clock-icon,
.smile-icon {
  height: 60px;
  width: calc(100% - 18px);
  position: absolute;
  right: 9px;
  left: 9px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2))
    drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  max-width: 100%;
  z-index: 1;
}
.clock-icon {
  margin: 0 !important;
  top: 9.5px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  overflow: hidden;
}
