.heart {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffbcff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  font-size: 24px;
  color: #000;
  font-family: Amaranth;
  flex: 0 0 100vw;
  min-width: 100vw;
}

.kwang-mathurosemontri-fy1ecb1r {
  width: 412px;
  height: 618px;
  position: absolute;
  margin: 0 !important;
  top: 438px;
  left: 0;
  background-image: url(/src/assets/forHeartImg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
  flex-shrink: 0;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  isolation: isolate;
  z-index: 1;
  flex-shrink: 0;
}

.form-element {
  width: 326px;
  height: 504px;
  position: relative;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: #ff68ca;
  border: 4px dashed #000;
  box-sizing: border-box;
  z-index: 0;
}

.el-corazn-representa {
  width: 272px;
  height: 432px;
  position: absolute;
  margin: 0 !important;
  top: 39px;
  left: 25px;
  line-height: 120%;
  display: inline-block;
  z-index: 1;
}

.heart .fa-arrow-left {
  width: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
  color: #000;
  z-index: 2;
  position: relative;
}

.heart .fa-arrow-left:hover {
  color: #666;
}
