:root {
    --fontsize: 16px;
    --fontsize-tablet: 20px;
    --fontsize-desktop: 24px;
}

@media (min-width: 768px) {
    :root {
        --fontsize: var(--fontsize-tablet);
    }
}

@media (min-width: 1024px) {
    :root {
        --fontsize: var(--fontsize-desktop);
    }
}

body {
    margin: 0;
    padding: 0;
}
