/* Estilos para WebApp */
.webapp {
  width: 100%;
  height: 100dvh;
  position: relative;
  background-color: var(--pink-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--fontsize);
}

.plants {
  width: 100%;
  max-width: 560px;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(/src/assets/forWebAppImg.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.hero {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  text-align: justify;
  font-size: 24px;
  font-family: Amaranth;
}

.board {
  position: relative;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: var(--pink-300);
  border: 6px dashed var(--grey-700);
  box-sizing: border-box;
  z-index: 0;
  width: 322px;
  height: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  padding: 25px;
}

@media (min-width: 768px) {
  .board {
    height: 215px;
  }
}

@media (min-width: 1024px) {
  .board {
    height: 252px;
  }
}

.text__2,
.text__hero {
  font-size: var(--fontsize);
  line-height: 100%;
  display: inline-block;
}

.text__hero {
  margin: 0;
  letter-spacing: -0.04px;
  z-index: 1;
}

.text__2 {
  margin: 50px 5px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.buttons-container {
  width: 390px;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.gift-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gift-button .fa-arrow-up {
  width: 50px;
  height: 50px;
  font-size: 40px !important;
  cursor: pointer;
  color: red;
  z-index: 2;
  top: 20px;
}
