/* Estilos para WebApp */
.webapp {
  width: 100%;
  height: 100dvh;
  position: relative;
  background-color: #ffbcff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--fontsize);
  color: #000;
  font-family: Amaranth;
}

.plants {
  width: 408px;
  height: 612px;
  position: absolute;
  margin: 0 ;
  top: 1px;
  left: 2px;
  background-image: url(/src/assets/forWebAppImg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
}

.hero {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  text-align: justify;
  font-size: 24px;
  color: #000;
  font-family: Amaranth;
}

.board {
  position: relative;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: #ff68ca;
  border: 4px dashed #000;
  box-sizing: border-box;
  z-index: 0;
  width: 322px;
  height: 232px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  padding: 25px;
}

.text__2,
.text__hero {
  font-size: var(--fontsize);
  line-height: 100%;
  display: inline-block;
}

.text__hero{
  margin: 0 ;
  letter-spacing: -0.04px;
  z-index: 1;
}

.text__2 {
  margin: 50px 5px;
  width: 100%;
  position: relative;
  z-index: 2;
}

